<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Cohort</title>
</head>
<body>
    <h2>Create a Cohort</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
{#        <h4>Enter cohort name here</h4>#}
{#        <input name="name" type="number" placeholder="Cohort name goes here...">#}
{#        <h4>Description</h4>#}
{#        <textarea name="description" rows="10" cols="50"></textarea>#}
        <input type="submit" value="save">
    </form>
</body>
</html>