<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Natives</title>
</head>
<body>
    <h2 style="font-family: Roboto, sans-serif; color: darkorange">These are all members of our cohorts</h2>
    {% for cohortz in cohort %}
        <p>{{ cohortz.name }}</p>
         <p>{{ cohortz.description }}</p>
         <p>{{ cohortz.date_created }}</p>
    {% endfor %}
</body>
</html>