<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
{% block contents %}
    <h1>Home</h1>
    <h2 style="font-family: Roboto, sans-serif; color: coral">Welcome to Cohorts page</h2>

    <a href="{% url 'create_cohort' %}">Create a cohort</a>
    <a href="{% url 'create_native' %}">Create a native</a>
    <a href="{% url 'fetch' %}">Render all natives</a>
{% endblock contents %}
</body>
</html>